{% extends 'AppBundle:Layouts:email.html.twig' %}

{% block main %}
    <table class="row note">
        <tr>
            <td class="wrapper last">
                <h4>{{ 'Hello %user_name%!' | trans({
                    '%user_name%': user.getName(),
                }) }}</h4>
                <p>{{ 'We detected a login request. Please click on the link below or enter the following code to into the form: %code%' | trans({
                    '%code%': '<b>' ~ code ~ '</b>',
                }) | raw }}</p>
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <a href="{{ url('login.two_factor_authentication', {
                                code: code,
                            }) }}"
                                target="_blank">
                                {{ url('login.two_factor_authentication', {
                                    code: code,
                                }) }}
                            </a>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
                <p></p>
            </td>
        </tr>
    </table>
{% endblock %}
