{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block main %}
    <h1>{{ 'Welcome to %app_name%.' | trans({
        '%app_name%': globals.app_name,
    }) | meaning('Available arguments: %app_name%') }}</h1>
{% endblock %}
