parameters:
    # Database
    database_host: 127.0.0.1
    database_port: null
    database_name: sfbp
    database_user: sfbp
    database_password: sfbp
    # Mailer
    mailer_transport: smtp
    mailer_host: corcosoft.com
    mailer_port: 465
    mailer_user: sfbp@corcosoft.com
    mailer_password: ~
    mailer_encryption: ssl
    # Two factor authenticator
    two_factor_authenticator_hostname: localhost
    two_factor_authenticator_issuer: Corcosoft
    # SMS Sender
    sms_sender_from: ~
    sms_sender_url: ~
    sms_sender_token: ~
    # Other
    secret: "MySuperSecureToken"
