parameters:
    # Database
    database_host: 127.0.0.1
    database_port: null
    database_name: sfbp
    database_user: sfbp
    database_password: sfbp
    # Mailer
    mailer_transport: smtp
    mailer_host: corcosoft.com
    mailer_port: 465
    mailer_user: sfbp@corcosoft.com
    mailer_password: ~
    mailer_encryption: ssl
    # Two factor authenticator
    two_factor_authenticator_hostname: localhost
    two_factor_authenticator_issuer: Corcosoft
    # SMS Sender
    sms_sender_service: ~ # available: ~, bobalazek_sms_sender or twilio
    # Bobalazek SMS Sender - https://github.com/bobalazek/sms-sender
    bobalazek_sms_sender_url: ~
    bobalazek_sms_sender_token: ~
    # Twilio SMS Sender - https://github.com/twilio/twilio-php
    twilio_sms_sender_sid: ~
    twilio_sms_sender_token: ~
    twilio_sms_sender_from: ~
    # Other
    secret: "MySuperSecureToken"
