{% extends 'AppBundle:Layouts:email.html.twig' %}

{% block main %}
    <table class="row note">
        <tr>
            <td class="wrapper last">
                <h4>{{ 'emails.general.greeting' | trans({
                    '%user_name%': user.getName(),
                }) | meaning('Available arguments: %user_name%') }}</h4>
                <p>{{ 'emails.user.signup.confirmation.text' | trans({
                    '%app_name%': globals.app_name,
                }) | meaning('Available arguments: %app_name%') }}</p>
            </td>
        </tr>
    </table>
{% endblock %}
