{% set record = geo_ip(object.getIp()) %}
<table class="table">
    <tbody>
        <tr>
            <td>
                {% if record.error is defined %}
                    {{ record.error.getMessage() }}
                {% else %}
                    {{ dump_data(record) }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
