{% set record = geo_ip(object.getIp()) %}
<table class="table">
    <tbody>
        <tr>
            <td>
                {% if record.error is defined %}
                    {{ record.error.getMessage() }}
                {% else %}
                    <ul>
                        {% for key, val in record %}
                            <b>{{ key }}:</b>
                            {{ val }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
