{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Help' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Help' | trans }}</h1>
    <div id="main-content">
        TODO
    </div>
{% endblock %}
