{% if value is empty %}
    No actions yet.
{% else %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for userAction in value %}
                    <tr>
                        <td>{{ userAction.getKey() }}</td>
                        <td>{{ userAction.getMessage() }}</td>
                        <td>{{ userAction.getCreatedAt() | date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}