<table class="page-footer" align="center">
<tr>
    <td class="center" align="center">
        <table class="container" align="center">
        <tr>
            <td>
                <table class="row">
                <tr>
                    <td class="wrapper">
                        <center class="small-font">
                            Copyright {{ globals.author }} {{ 'now' | date('Y') }}.
                            All rights reserved.
                        </center>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
