<table class="page-header" align="center">
<tr>
    <td class="center" align="center">
        <table class="container" align="center">
        <tr>
            <td>
                <table class="row">
                <tr>
                    <td class="wrapper vertical-middle">
                        <table class="six columns">
                        <tr>
                            <td class="vertical-middle">
                                <a href="{{ url('home') }}">
                                    {% set logoImageUrl = url('home') ~ 'assets/img/logo/icon.png' %}
                                    <img src="{{ logoImageUrl }}"
                                        src-original="{{ logoImageUrl }}"
                                        alt="Logo" width="48" height="48"
                                        style="width: 48px; height: 48px;" />
                                </a>
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
