<h3>{{ 'Authenticator' | trans }}</h3>
<p>{{ 'Enter the code from your two-factor authenticator (Google Authenticator, Authy, ...) down below:' | trans }}</p>
{% include 'AppBundle:Content:login/tfa/_form.html.twig' %}
