{% extends 'CoreBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Disclaimer' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Disclaimer' | trans }}</h1>
    <div id="main-content">
        TODO
    </div>
{% endblock %}
