{% extends 'CoreBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Imprint' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Imprint' | trans }}</h1>
    <div id="main-content">
        TODO
    </div>
{% endblock %}
